dash==2.13.0
mysql-connector==2.2.9
opentelemetry-exporter-otlp==1.20.0
opentelemetry-instrumentation-flask==0.41b0
opentelemetry-instrumentation-mysql==0.41b0
opentelemetry-instrumentation-requests==0.41b0
opentelemetry-sdk==1.20.0
protobuf==3.20.3
urllib3==2.0.7
werkzeug==3.0.1