dash==1.17.0
mysql-connector==2.2.9
opentelemetry-exporter-otlp==1.12.0
opentelemetry-instrumentation-flask==0.33b0
opentelemetry-instrumentation-mysql==0.33b0
opentelemetry-instrumentation-requests==0.33b0
opentelemetry-sdk==1.12.0
protobuf==3.19.6
