<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8" />

    <module name="SuppressionFilter">
        <property name="file" value="${config_loc}/checkstyle-suppressions.xml" />
    </module>

    <!-- Checks Java files and forbids empty Javadoc comments -->
    <module name="RegexpMultiline">
        <property name="id" value="EmptyJavadoc"/>
        <property name="format" value="\/\*[\s\*]*\*\/"/>
        <property name="fileExtensions" value="java"/>
        <property name="message" value="Empty javadoc comments are forbidden"/>
    </module>

    <module name="TreeWalker">
        <module name="AvoidStarImport" />

        <!-- Unused imports are forbidden -->
        <module name="UnusedImports" />

        <!-- Checks that all java files have a package declaration and that it
             lines up with the directory structure. -->
        <module name="PackageDeclaration"/>

        <!-- Outer (non-inner) classes must be in a file of the same name as the class -->
        <module name="OuterTypeFilename" />
        <!-- Each Java file has only one outer (non-inner) class -->
        <module name="OneTopLevelClass" />

        <!-- No line wraps inside of import and package statements. -->
        <module name="NoLineWrap" />

        <!-- only one statement per line should be allowed -->
        <module name="OneStatementPerLine"/>

        <!-- Checks that the order of modifiers conforms to the suggestions in the
        Java Language specification, sections 8.1.1, 8.3.1 and 8.4.3. It is not that
        the standard is perfect, but having a consistent order makes the code more
        readable and no other order is compellingly better than the standard.
        The correct order is:
                public
                protected
                private
                abstract
                static
                final
                transient
                volatile
                synchronized
                native
                strictfp
        -->
        <module name="ModifierOrder" />

    </module>
</module>
