backoff==1.10.0
certifi==2024.07.04
charset-normalizer==2.0.9
Deprecated==1.2.13
googleapis-common-protos==1.53.0
grpcio==1.53.2
idna==3.7
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-exporter-otlp-proto-http==1.25.0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
protobuf==3.19.5
requests==2.32.3
six==1.16.0
urllib3==1.26.19
wrapt==1.13.3
