backoff==1.10.0
certifi==2023.7.22
charset-normalizer==2.0.9
Deprecated==1.2.13
googleapis-common-protos==1.53.0
grpcio==1.53.2
idna==3.3
opentelemetry-api==1.7.1
opentelemetry-exporter-otlp==1.7.1
opentelemetry-exporter-otlp-proto-grpc==1.7.1
opentelemetry-exporter-otlp-proto-http==1.7.1
opentelemetry-proto==1.7.1
opentelemetry-sdk==1.7.1
opentelemetry-semantic-conventions==0.26b1
protobuf==3.19.5
requests==2.32.0
six==1.16.0
urllib3==1.26.18
wrapt==1.13.3
