# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: End-to-End Tests - Peer Forwarder

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        java: [11, 17, 21, docker]
        test: ['staticAggregateEndToEndTest', 'staticLogMetricsEndToEndTest', 'localAggregateEndToEndTest']
        runner: [ubuntu-latest, ubuntu-24.04-arm]
      fail-fast: false

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: 11
      - name: Checkout Data Prepper
        uses: actions/checkout@v2
      - name: Run peer-forward end-to-end tests with Gradle
        run: ./gradlew -PendToEndJavaVersion=${{ matrix.java }} :e2e-test:peerforwarder:${{ matrix.test }}
