# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Gradle Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        java: [11, 17]
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Checkout Data Prepper
      uses: actions/checkout@v2
    - name: Build with Gradle
      run: ./gradlew --parallel build
    - name: Upload Unit Test Results
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: data-prepper-test-results-java-${{ matrix.java }}
        path: '**/test-results/**/*.xml'
    - name: Upload Coverage Report
      uses: codecov/codecov-action@v1
    - name: Generate Javadocs
      run: ./gradlew --parallel javadoc

  publish-test-results:
    name: "Publish Unit Tests Results"
    needs: build
    runs-on: ubuntu-latest
    if: always()

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v3
        with:
          path: test-results

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        with:
          files: "test-results/**/*.xml"
