# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Performance Tests Compile

on:
  push:
    branches: [ main ]
    paths:
      - 'performance-test/**'
      - '*gradle*'
  pull_request:
    paths:
      - 'performance-test/**'
      - '*gradle*'
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        java: [11, 17, 21]

    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Checkout Data Prepper
        uses: actions/checkout@v2
      - name: Build performance tests with Gradle
        run: ./gradlew :performance-test:compileGatlingJava
